{% extends 'Layout/default.twig' %}

{% block container %}
	<h1 class="title">Listagem de Usuários</h1>

	<a href="{{ base_url() }}/usuarios/adicionar" class="btn btn-secondary float-right">Cadastrar</a>

	<table class="table">
	  <thead>
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col">Nome</th>
	      <th scope="col">Email</th>
	      <th scope="col">Senha</th>
	      <th scope="col"></th>
	    </tr>
	  </thead>
	  <tbody>
	  	{% for user in users %}
		    <tr>
		      <th scope="row">{{user.id}}</th>
		      <td>{{user.nome}}</td>
		      <td>{{user.email}}</td>
		      <td>{{user.senha}}</td>
		      <td class="actions">
		      	<a class="btn btn-secondary" href="{{ base_url() }}/usuarios/editar/{{ user.id }}">Editar</a>
		      	<form action="{{ base_url() }}/usuarios/deletar/{{ user.id }}" method="POST">
		      		<input type="hidden" name="_METHOD" value="DELETE"/>
		      		<input class="btn btn-danger" type="submit" value="Excluir">
	      		</form>
		      </td>
		    </tr>
	    {% endfor %}
	  </tbody>
	</table>	

{% endblock %}